body{
  background-color:#ecdfc8;

}
hr{
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}

img{
  height: 440px;
  width: 280px;

}
h1{
  color: #42240c;
  font-style: italic;
  font-family: cursive;

}
h3{
  color: #42240c;

}
img{
  background-color: #42240c;

}
